/* Small-screen page contents layout. */
@media (max-width: 800px) {
  .page-reading.with-contents .page-contents {
    position: relative;
    top: auto;
    max-height: none;
    overflow: visible;
  }
}
